button {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    /*color: rgba(0, 0, 0, 0.8);/**/
    border: 0px none transparent;
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    /*background-color: white;/**/
    color: black;
    
    transition: 1s all;
}
button:hover{
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12);
}