body {
    margin: 0;
    background-color: #1D84C5;
    display: flex;
    min-height: 100vh;
    height: 100vh;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
}
header {
    flex: 1;
    background-color: rgba(9, 19, 21, 0.5);
    background-size: cover;
    box-shadow: 0px 0px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fcfafa;
}
.header-profile {
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    background-size: cover;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}
.profile-img {
    width: 50%;
    border-sizing: border-box;
    border: .5em solid #a4b8c4;
    transition: 1s all;
}
.profile-img:hover {
    width: 55%;
    border: .5em solid black;
}
nav ul {
    padding: 0;
}
.nav-button {
    display: inline-block;
    list-style: outside none none;
    text-decoration: none;
    color: #fcfafa;
    box-sizing: border-box;
    border: 2px solid #a4b8c4;
    padding: 1em;
    transition: .5s all;
}
.nav-button:hover {
    border: 2px solid white;
    background-color: rgba(0,0,0,0.5);
}
main {
    flex: 3;
    padding-left: 2em;
    padding-right: 4em;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
article {
    margin-top: .5em;
    margin-bottom: .5em;
    background-color: rgba(255, 255, 255, 1);
    transition: 1s all;
    box-shadow: 0px 0px 3px black;
}
article:hover {
    box-shadow: 0px 0px 12px black;
}
article > h2 {
    background-color: rgba(218, 218, 218, 0.85);
    background-size: cover;
    padding: .5em;
    margin: 0em;
    color: #124B6C;
}
article > p,a {
    padding: 1em;
}
article > .nav-button {
    background-color: #124B6C;
    margin-left: 1em;
    margin-bottom: 1em;
    color: white;
    border: 2px solid black;
}