<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
         <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='//fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <header>
            <h1><a href="/">Nathan Bland</a></h1>
            <div class="header-profile">
                <img class="profile-img" src="/img/outdoors.JPG">
            </div>
            <nav>
                <ul class="social">
                    <a href="https://github.com/NathanBland"><li><i class="fa fa-github"></i></li></a>
                    <a href="https://twitter.com/NathanABland/"><li><i class="fa fa-twitter"></i></li></a>
                </ul>
            </nav>
            <nav>
                <ul>
                    <a class="nav-button" href="{{ site.baseurl }}/blog"><li>Developer</li></a>
                    <a class="nav-button" href="{{ site.baseurl }}/outdoors"><li>Outdoorsman</li></a>
                </ul>
            </nav>
        </header>
        <main role="main">
            {{content}}
        </main>
    </body>

</html>